<div>
<%= form_for :flashcard, url: flashcards_path do |f| %>
  <div>
    <%= f.label :question %>
    <%= f.text_field :question %>
  </div>

  <div>
    <%= f.label :answer %>
    <%= f.text_field :answer %>
  </div>

  <%= f.submit %>
<% end %>
</div>
