<h2>Scheduled Review </h2>
<%= render "shared/back" %>
<br/><br/>

<div class="row">
	<% @reviews.each do |flashcard| %>
	<% div_id = flashcard.id %>
	<div class="col-md-6 col-xs-12 col-centered">
		<div class="flip-container" id="flip-<%= div_id %>">
			<div class="flipper">
				<div class="front well">
					<h2>Question</h2>
					<hr/>
					<%= flashcard.question %>
				</div>
				<div class="back well">
					<h2>Answer</h2>
					<hr/>
					<%= flashcard.answer %>
					<div class="row">
						<div class="card-push"></div>
						How'd you do?<br/>
						Rate your answer, and we'll schedule the next best time for you to study:
            			<%= render "reviews/new", flashcard: flashcard %>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<button onclick="document.querySelector('#flip-<%= div_id %>').classList.toggle('hover');" class="btn btn-success" id="flip-btn">
			Flip over <i class="glyphicon glyphicon-refresh"></i>
		</button>
	</div>
	<% end %>
</div>
