<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 col-xs-12">
		<div class="flip-container">
			<div class="flipper">
				<%= form_for :flashcard, url: flashcards_path do |f| %>
				<div class="front well">
					<h2>Write your question here...</h2>
					<%= f.label :question %>
					<%= f.text_field :question, class: 'form-control' %>
				</div>
				<div class="back well">
					<h2>...and write your answer here!</h2>
					<p>*hint: pull on the bottom right corner of the text box for more room!</p>
					<%= f.label :answer %>
					<%= f.text_area :answer, class: 'form-control' %>
					<div class="flashcard-push"></div>

					<button type="button" class="btn btn-success btn-flashcard" data-toggle="modal" data-target="#myModal">
						Create Flashcard <i class="glyphicon glyphicon-plus"></i>
				</div>
				<% end %>
			</div>
		</div>
		<br/>
		<button onclick="document.querySelector('.flip-container').classList.toggle('hover');" class="btn btn-success" id="flip-btn">
			<i class="glyphicon glyphicon-refresh"></i>
			Flip over
		</button>
	</div>
	<div class="col-md-3"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      	<!-- Create Account -->
		<div class="col-md-12 well">
			<h2>Start Studying Now!</h2>
			<%= form_for :user, url: users_path do |f| %>
				<% if flash[:notice] %>
					<div id="registration-error">
						<%= flash[:notice] %>
					</div>
				<% end %>

				<% if flash[:error] %>
					<div id="registration-error">
						<%= flash[:error] %>
					</div>
				<% end %>
				
				<div class="field form-group">
					<%= f.label :email %>
					<%= f.text_field :email, class: 'form-control' %>
				</div>

				<div class="field form-group">
					<%= f.label :password %>
					<%= f.password_field :password, class: 'form-control' %>
				</div>

				<%= submit_tag 'Create Account', class: 'btn btn-danger' %>
			<% end %>
		</div>


		<!-- Sign in -->
		<div class="col-md-12 well">
		<h2>Sign in</h2>
		<%= form_for :session, url: signin_path do |f| %>
		  <% if flash[:error] %>
		    <div class="registration-error">
		      <%= flash[:error] %>
		    </div>
		  <% end %>

		  <div class="field form-group">
		    <%= f.label :email %>
		    <%= f.text_field :email, class: "form-control" %>
		  </div>

		  <div class="field form-group">
		    <%= f.label :password %>
		    <%= f.password_field :password, class: "form-control" %>
		  </div>

		  <%= f.submit "Login", class: "btn btn-danger" %>

		<% end %>
		</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


