<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<%= form_for :flashcard, url: flashcards_path do |f| %>
			<div class="registration-error"></div>

			<div class="well">
				<div class=" field form-group">
					<%= f.label :question %>
			    	<%= f.text_field :question, class: 'form-control' %>
				</div>

			  	<div class="field form-group">
			    	<%= f.label :answer %>
			    	<%= f.text_area :answer, class: 'form-control' %>
			  	</div>
		  	</div>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h2>Start Studying Now!</h2>
		<%= form_for :user, url: users_path do |f| %>
			<%# if statement for error message %>
				<div id="registration-error"></div>
			<%# end %>
			
			<div class="field form-group">
				<%= f.label :email %>
				<%= f.text_field :email, class: 'form-control' %>
			</div>

			<div class="field form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
			</div>

			<%= f.submit 'Create Account', class: 'btn btn-danger' %>

			or

			<%= link_to 'Sign in', signin_path, class: 'btn btn-warning' %>
		<% end %>
	</div>
	<div class="col-md-4"></div>
</div>


<!-- Pure HTML Template
<form role="form">
  <div class="form-group">
    <label for="username">Email</label>
    <input type="text" name="email" class="form-control" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" />
  </div>

  <input type="submit" value="Create Account" />
</form>
-->