<div class="row">
	<%= render "shared/error_message" %>
	<div class="col-md-3"></div>
	<div class="col-md-6 col-xs-12">
		<%= form_for :user, url: users_path do |user| %>
		<%= user.fields_for :flashcard do |flashcard| %>

		<div class="well">
			<h2>Write your question here...</h2>
			<%= flashcard.text_field :question, class: "form-control" %>
			<br/>

			<h2>...and write your answer here!</h2>
			(*hint: pull on the bottom right corner of the text box for more room)<br/>
			<%= flashcard.text_area :answer, class: "form-control" %>
			<% end %>
			<br/>
		</div>

		<button type="button" class="btn btn-success btn-flashcard" data-toggle="modal" data-target="#newAccountModal">
			Create Flashcard <i class="glyphicon glyphicon-plus"></i>
		</button>
	</div>
	<div class="col-md-3"></div>
</div>

<!-- New Account Modal -->
<div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Account Creation</h4>
      </div>

	<!-- Create Account -->
	<div class="col-md-12 well">
		<h2>Start Studying Now!</h2>
			<div class="field form-group">
				<%= user.label :email %>
				<%= user.text_field :email, class: 'form-control' %>
			</div>

			<div class="field form-group">
				<%= user.label :password %>
				<%= user.password_field :password, class: 'form-control' %>
			</div>

			<%= user.submit 'Create Account', class: 'btn btn-danger' %>
		<% end %>
	</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h3>If you already have an account, <a href="#" data-toggle="modal" data-target="#signinModal">sign in here</a></h3>
	</div>
	<div class="col-md-3"></div>
</div> <!-- Row -->

<!-- Sign in  Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome back!</h4>
      </div>
  	<!-- Sign In -->
	<div class="col-md-12 well">
	    <h2>Sign in</h2>
	    <%= form_for :session, url: signin_path do |f| %>
	      <div class="field form-group">
	        <%= f.label :email %>
	        <%= f.text_field :email, class: "form-control" %>
	      </div>

	      <div class="field form-group">
	        <%= f.label :password %>
	        <%= f.password_field :password, class: "form-control" %>
	      </div>

	      <%= f.submit "Login", class: "btn btn-danger" %>
	    <% end %>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
