<h2>Dashboard</h2>

<div class="row dashboard">
	<div class="col-md-4 well">
		<span>Account Information</span>
		<hr/>
		Logged in as <%= current_user.email %> <br/>
		Member since

	</div>

	<div class="col-md-4 well">
		<span>Manage Flashcards</span>
		<hr/>
		<%= link_to "Create a new flashcard", new_flashcard_path %> <br/>
		<%= link_to "My Flashcards", flashcards_path %> (<%= current_user.flashcards.count %>)
	</div>

	<div class="col-md-4 well">
		<span>Scheduled Reviews</span>
		<hr/>
		You have <%= current_user.scheduled_reviews.where(scheduled_date: Date.today).count %> flashcards to study today <br/>
		<% if current_scheduled_review %>
			<%= link_to "Study now", scheduled_review_path(current_scheduled_review) %>
		<% else %>
			No flashcards to study today! Review your cards <%= link_to "here", flashcards_path %>
		<% end %>
	</div>
</div>