<h2>Dashboard</h2>

<div class="row dashboard">
	<div class="col-md-4 well">
		<span>Account Information</span>
		<hr/>
		Logged in as <%= current_user.email %> <br/>
		<% if user_date == Date.today %>
			Thanks for creating an account! Let's get studying!
		<% else %>
			Member since <%= user_date.to_formatted_s(:long) %>
		<% end %>
	</div>

	<div class="col-md-4 well">
		<span>Manage Mems</span>
		<hr/>
		<%= link_to "Create a new Mem", new_flashcard_path %> <br/>
		<%= link_to "My Mems", flashcards_path %> (<%= current_user.flashcards.count %>)
	</div>

	<div class="col-md-4 well">
		<span>Scheduled Reviews</span>
		<hr/>
		<% to_study = flashcards_count %>
		You have <%= to_study %> <%= link_to " Mems", scheduled_reviews_path %> to study today <br/>
		<% if flashcards_count > 0 %>
			<%= link_to "Study now", scheduled_review_path(current_scheduled_review) %>
		<% else %>
			<% if current_user.flashcards.count > 0  %>
				No Mems to study today! Review your cards <%= link_to "here", flashcards_path %>
			<% else %>
				<%= link_to "Create Mems", new_flashcard_path %> and start studying now!
			<% end %>
		<% end %>
	</div>
</div>
