<!DOCTYPE html>
<html>
<head>
  <title>Memknow</title>
  <%= stylesheet_link_tag    "application", "sidebar", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "sidebar", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= render 'devise/banner' %>
	<%= render 'devise/sidebar' %>

	<div class="row">
		<div class="col-md-12">
			<%= yield %>
		</div>
	</div>
</div> <!-- container -->
</body>
</html>
