<!DOCTYPE html>
<html>
  <head>
    <title>Memknow</title>
    <%= stylesheet_link_tag    "application", "main", media: "all", "data-turbolinks-track" => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "application", "sidebar", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container wrap">

      <%= render 'shared/banner' %>
      <%= render 'shared/infographic' %>
      <br/>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= render 'shared/flashcard_items' %>
        </div>
        <div class="col-md-3"></div>
      </div>

      <br/>

      <div class="row">
        <% if !current_user = GuestUser %>
          <%= render 'shared/sidebar' %>
          <div class="col-md-1"></div>
        <% else %>
          <div class="col-md-4">
          </div>
        <% end %>
        <div class="col-md-4">
          <%= yield %>
        </div>
      </div>
    </div> <!-- container -->

    <div id="push"></div>
    <footer>
      <div class="container">
        <p class="muted credit" id="footer">
          &copy;2014. Development version of Memknow Intelligent Flashcard software created by Eric Kopp.
        </p>
      </div>
    </footer>
  </body>
</html>

