<!DOCTYPE html>
<html>
<head>
  <title>Memknow</title>
  <%= stylesheet_link_tag    "application", "sidebar", "main", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "sidebar", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="row">
		<%= render 'devise/banner' %>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-4"></div>
		<div class="col-md-3"></div>
	</div>

	<div class="row">
		<% if user_signed_in? %>
			<%= render 'devise/sidebar' %>
			<div class="col-md-1"></div>
		<% else %>
			<div class="col-md-4"></div>
		<% end %>
		<div class="col-md-4">
			<%= yield %>
		</div>
	</div>
</div> <!-- container -->
</body>
</html>
