<!DOCTYPE html>
<html>
  <head>
    <title>Memknow</title>
    <%= stylesheet_link_tag "application", "main", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,700,600" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
    <%= render "shared/banner" %>
    <% if signed_in? %>
      Logged in as <%= current_user.email %>
    <% end %>
    </div>

    <div class="container wrap">

      <br/>

      <%= yield %>

      <% if !signed_in? %>
      <%= render 'shared/infographic' %>
      <% end %>
    </div> <!-- container -->

    <div id="push"></div>
    <footer>
      <div class="container">
        <p class="muted credit" id="footer">
          &copy;2014. Development version of Memknow Intelligent Flashcard software created by Eric Kopp.
        </p>
      </div>
    </footer>
  </body>
</html>

